.container {
  padding: 0 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.main {
  font-family: 'Lobster', cursive;
  min-height: 100vh;
  padding: 4rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.nav ul li {
  font-weight: bolder;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}